/* .board { */
/*   display: grid; */
/*   grid-template-columns: repeat(9, 2.6rem); */
/*   grid-gap: 5px; */
/*   justify-content: center; */
/*   align-content: center; */
/* } */

.board {
  display: grid;
  grid-template-columns: 2.6rem 2.6rem 3rem 2.6rem 2.6rem 3rem 2.6rem 2.6rem 2.6rem; /* 9 columns for the 9 boxes */
  grid-gap: 5px; /* Adjust the gap as per your requirement */
  justify-content: center;
  align-content: center;
  /* Add borders to create the box structure */
  border: 10px solid #000; /* Black border around the entire board */
}

.borders {
  /* Additional styling for individual boxes, if needed */
}

.board > :nth-child(27n) {
  margin-bottom: 0.6rem; /* Add a bottom padding every 3rd row */
}
.board > :nth-child(81) {
  margin-bottom: 0;
}
@media only screen and (max-width: 600px) {
  .board {
    grid-template-columns: 1.5rem 1.5rem 1.8rem 1.5rem 1.5rem 1.8rem 1.5rem 1.5rem 1.5rem;
  }
  .board > :nth-child(27n) {
    margin-bottom: 0.3rem; /* Add a bottom padding every 3rd row */
  }
}
